<style>
    th,td{
        text-align: center;
    }
</style>
<h1>Modules of <i> </i></h1>
<div class="container-button" style="float:right;">
    <span><%= button_to "Log Out", logout_url, :method => :get, class: "button"  %></span>
</div>
<table>
    <tr>
        <th>Module Number</th>
        <th>Study Link</th>
    </tr>
    <tr>
    </tr>
</table>