<style>
    th,td{
        text-align: center;
    }
</style>
<%= render partial: "shared/navigation" %>
<h1>Modules of <i> </i></h1>
<table>
    <tr>
        <th>Module Number</th>
        <th>Study Link</th>
    </tr>
    <tr>
        <td><%= @syllabus.course_id %></td>
        <td><a href="<%= @syllabus.video_link %>">Rails Link</a></td>
    </tr>
    <tr>
    </tr>
</table>