// Place all the styles related to the Landing_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 1.2rem;
  padding: 0.8rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

.container-button {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 1.6rem;
  padding: 1.2em;
  border: 2px solid black;
  background-color: orange;
  border-radius: 10rem;
  font-size: 1rem;
  font-weight: 800;
  font-family: inherit;
  box-shadow: 0.2rem 0.4rem 0.38rem;
}

.button_to {
  margin: 0rem 0.8rem;
}

.button:hover {
  background-color: black;
  color: white;
  transition: 0.8s;
}
