// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 1.2rem;
  padding: 0.8rem;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

.second-header {
  margin: 0.8rem;
  padding: 0.8rem;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.8rem;
}

tr,
td {
  margin: 1.8rem;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
}

th {
  margin: 1.8rem;
  padding: 1rem;
  text-align: center;
}

input {
  margin: 0.6rem;
  padding: 0.6rem;
  border: 1px solid black;
  border-radius: 10rem;
}

.button-centre {
  text-align: center;
}

.button {
  margin: 0.6rem;
  padding: 0.6rem;
  border: 2px solid black;
  background-color: orange;
  border-radius: 10rem;
  font-size: 1rem;
  font-weight: 800;
  font-family: inherit;
}

.button:hover {
  background-color: black;
  color: white;
  transition: 0.8s;
}
